@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #99cc00;
}

@keyframes partners {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.carousel-track {
  animation: 30s partners infinite linear;
}
